.login_wrap {
  width: 100vw;
  height: 100vh;
  display: flex;
}
/* login_lt start */
.login_lt {
  box-sizing: border-box;
  width: 45%;
  background-color: #1a1a1a;
  padding: 135px 100px 85px;
}

.login_lt .banner {
  color: #fff;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_lt .banner img {
  box-sizing: border-box;
  padding: 0 10px;
  max-width: 340px;
  object-fit: contain;
}

.login_lt .banner .community {
  width: 100%;
  margin-top: 20px;
  border-radius: 20px;
  padding: 10px;
  background-color: #e4ecff1a;
}
.community span {
  font-weight: bold;
  font-size: 16px;
}
/* login_lt end */

/* login_rt start */
.login_rt {
  width: 55%;
  height: 100%;
  padding: 135px 100px 85px;
  box-sizing: border-box;
}

.login_rt .login_container {
  max-width: 500px;
  margin: 0 auto;
}
.tabs {
  display: flex;
  flex-direction: column;
}
.tabs ul {
  display: flex;
  padding: 0;
}
.tabs ul li {
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: 20px;
  height: 30px;
}

.tabs input {
  padding: 0 10px;
  height: 40px;
  margin: 2px 0 20px;
  border: 0.5px solid rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}
.tabs button {
  margin-top: 20px;
  height: 50px;
  background-color: #00000008;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.login_container .signtxt {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 16px 0;
}

.signtxt a {
  margin-left: 5px;
  color: #0569ff;
  text-decoration: none;
}

.login_container .login_other {
  margin-top: 50px;
  display: flex;
  align-items: center;
}
.login_other span {
  padding: 0 5px;
}

.login_other::before,
.login_other::after {
  content: "";
  background-color: #e9ebf2;
  height: 1px;
  flex: 1 1;
}

.login_site {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}
.login_site .telegram,
.login_site .google {
  box-sizing: border-box;
  padding: 8px 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 48%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
.tel_logo,
.goo_logo {
  height: 100%;
  aspect-ratio: 1/1;
  background-repeat: no-repeat;
  background-size: contain;
}

.tel_logo {
  filter: invert(100%);
  background-image: url("data:image/svg+xml,%3Csvg%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m1.95617055%2011.392196c5.77764656-2.42328736%209.63031585-4.02086673%2011.55800785-4.79273807%205.5039525-2.20384954%206.6476266-2.5866818%207.3930574-2.59932314.1639507-.00278035.5305319.0363352.7679878.22182361.2005031.15662277.2556695.36819788.2820684.51669348.026399.1484956.0592719.48677234.0331404.75109194-.2982611%203.0169019-1.5888322%2010.33812718-2.2454015%2013.71710898-.2778191%201.4297738-.8288514%201.7357846-1.3584441%201.7826999-1.1509274.1019576-2.0208916-.5588425-3.1356211-1.2622918-1.7443316-1.1007592-2.3854935-1.3972358-4.0786694-2.4713734-1.95675765-1.2413519-.8891962-1.8911034.2259543-3.0061212.2918402-.2918054%205.3989024-4.83750096%205.497052-5.24030969.0122753-.05037796-.1557336-.55407742-.2716182-.65323489-.1158847-.09915747-.2869204-.06524947-.4103446-.03828214-.17495.03822537-2.9615423%201.81132342-8.35977698%205.31929412-.79096496.5228681-1.50739646.7776269-2.1492945.7642766-.70764107-.0147176-2.06885864-.3851791-3.08078398-.7018404-1.24116762-.388398-1.69932554-.5713149-1.61342745-1.2309348.04474105-.3435709.36011227-.7024173.94611366-1.0765391z%22%20fill%3D%22%23fff%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E");
}

.goo_logo {
  background-image: url("https://static.okx.com/cdn/assets/imgs/206/C6AD6904C3269AE4.png");
}

.tel_txt,
.goo_txt {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}

.lasttxt {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
.lasttxt p {
  margin: 0;
}
.lasttxt a {
  margin: 0;
  color: #000;
}
/* login_rt end */
