body {
  padding: 0;
  margin: 0;
}
/* nav start */
:root {
  --nav-height: 50px;
}

.nav {
  position: absolute;
  width: 100vw;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  box-sizing: border-box;
  background-color: #1a1a1a;
}

.nav .logo {
  width: 100px;
  height: 40px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKQAAABICAQAAADSOpYzAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAAFiUAABYlAUlSJPAAAAAHdElNRQfmBwMNKhI4Vg/yAAABMklEQVR42u3aQW6DMBBAUZyT5eSFE/RInS5psOKx8Scq0n9ZNXjA+VE3VpZFkiRJkiShYo0rrYPPWyf3+3VYXZL138nTuudLxLVfVCmHrcXY+uqjteejPF7/XH5G1teXe+ebt1E/Q0IMCTEkxJAQQ0IMCTEkxJAQQ0IMCTEkxJCQ+4XcBq+Orj87n54oPlv3iWc2Xk3A55tzZs8rd+l55OT54PB5ZLrhMjd/2M3keeXufv/a/5QhIYaEGBJiSIghIYaEGBJiSIghIYaEGBJiSEgaMjtG+/B+tw/f8eVqlPq1X7xYlX5wfTXfPj/095Hv1tdfRPLJ/X3kvRkSYkiIISGGhBgSYkiIISGGhBgSYkiIISGGhDwuOOH7a+t4p//qmflticYrf946OS9JkiRJkk75BUgSur6QrNyYAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDIyLTA3LTAzVDEzOjQyOjE4KzAwOjAwKpbwNQAAACV0RVh0ZGF0ZTptb2RpZnkAMjAyMi0wNy0wM1QxMzo0MjoxOCswMDowMFvLSIkAAAAASUVORK5CYII=");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.nav .change {
  width: 150px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav .change .change_wrap {
  height: 30px;
  display: flex;
  border: 0.5px solid rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  background-color: #fafafa38;
}

.nav .change .change_lt,
.nav .change .change_rt {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 5px 12px;
  border-radius: 5px;
}

.nav .change .change_lt {
  color: #000;
  width: 80px;
  background-color: #fff;
  /* border: 0.5px solid rgba(0, 0, 0, 0.6); */
}
.nav .change .change_rt {
  color: #fff;
  width: 60px;
  /* border: 0.5px solid rgba(255, 255, 255, 0.6); */
}

.nav ul {
  display: flex;
}
.nav li {
  color: #fff;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: var(--nav-height);
  position: relative;
}

.nav li span {
}

.nav a {
  text-decoration: none;
  color: #fff;
}

.nav .nav_buy {
  width: 110px;
  display: flex;
}
.nav_buy .buy_item {
  cursor: auto;
  display: none;
  opacity: 0;
  position: absolute;
  left: 0;
  top: calc(var(--nav-height) + 10px);
  width: 260px;
  height: 210px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: #000;
  transition: opacity 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.nav_buy:hover .buy_item {
  display: block;
  opacity: 1;
  top: var(--nav-height);
  color: #000;
}
.nav_buy:hover .buy_item a {
  color: #000;
}

.nav .nav_dis {
  display: flex;
  width: 100px;
}

.nav .nav_trade {
  display: flex;
  width: 80px;
}
.nav .nav_grow {
  display: flex;
  width: 80px;
}

.nav .nav_build {
  display: flex;
  width: 80px;
}

.nav .nav_ins {
  display: flex;
  width: 120px;
}

.nav .nav_learn {
  display: flex;
  width: 60px;
}

.nav .nav_more {
  display: flex;
  width: 70px;
}

.arw {
  margin-left: 5px;
  /* background-color: #fff; */
  height: 12px;
  aspect-ratio: 1/1;
  transition: all 0.25s;
  background-image: url("/image/angle-up-solid.svg");
  background-repeat: no-repeat;
  background-size: contain;
  filter: invert(100%);
  transform: rotate(180deg);
}
.arw::before {
  /* content: url("/image/angle-up-solid.svg"); */
}

.nav_buy:hover .arw,
.nav_dis:hover .arw,
.nav_trade:hover .arw,
.nav_grow:hover .arw,
.nav_build:hover .arw,
.nav_ins:hover .arw,
.nav_learn:hover .arw,
.nav_more:hover .arw {
  transform: rotate(0);
}

.nav .nav_null {
  width: 100px;
}

.nav .sign_wrap {
  display: flex;
  align-items: center;
  margin-left: auto;
  height: 100%;
}
.nav .sign_wrap a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav .sign_wrap .login,
.nav .sign_wrap .signup {
  width: 60px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav .sign_wrap .login {
  margin-right: 10px;
}
.nav .sign_wrap .signup {
  border: 2px solid #fff;
  border-radius: 20px;
}

.nav .signup {
}
/* nav end */
