<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/footer.css" />
  </head>
  <body>
    <!-- footer start -->
    <div class="footer">
      <div class="footer_wrap">
        <span>Copyright © Ohstory Corp. All rights reserved.</span>
      </div>
    </div>
    <!-- footer end -->
  </body>
</html>
