<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/header.css" />
  </head>
  <body>
    <!-- header start -->
    <div class="header">
      <div class="header_wrap">
        <div class="logo"><a href="/tistory">tistory</a></div>
        <div class="sign">
          <a href="/tistory/login">login</a>
          <a href="/tistory/signup">signup</a>
        </div>
      </div>
    </div>
    <!-- header end -->
  </body>
</html>
