<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <!-- rt start -->
    <div class="container_rt">
      <div class="profile">
        <div class="profile_img"></div>
      </div>
      <div class="category">
        <div class="category_wrap">
          <ul>
            <li><a href="/tistory">viewAll</a></li>
            <li><a href="/tistory">Javascript</a></li>
            <li><a href="/tistory">GIT</a></li>
            <li><a href="/tistory">CSS</a></li>
            <li><a href="/tistory">HTML</a></li>
            <li><a href="/tistory">Nodejs</a></li>
            <li><a href="/tistory">MySQL</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- rt end -->
  </body>
</html>
