body {
  margin: 0;
  padding: 0;
}

/* container start */
.container {
  width: 100%;
}

.container .container_title {
  width: 100%;
  height: 100px;
}
.container .container_title .title_wrap {
  margin: 0 auto;
  padding: 0 0 10px 0;
  width: 700px;
  height: 100%;
  display: flex;
  align-items: flex-end;
  border-bottom: 1px solid;
  box-sizing: border-box;
  position: relative;
}
.container .title_wrap h2 {
  margin: 0;
}
.container .title_wrap h6 {
  font-weight: 400;
  margin: 0 0 0 10px;
}
.container .title_wrap span {
  margin: 0 0 0 5px;
  font-size: 16px;
  color: red;
}
.container .title_wrap p {
  margin-block-start: 0;
  margin-block-end: 0;
  position: absolute;
  right: 0;
  bottom: 4px;
  font-size: 8px;
  color: rgba(0, 0, 0, 0.6);
}

.container .title_wrap p a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  margin-right: 4px;
}

#select_cate {
  border: none;
  margin: 0 0 2px 4px;
  text-align: right;
}

.container_wrap {
  max-width: 700px;
  margin: 20px auto;
  display: flex;
}

.container_wrap .container_lt {
  width: 65%;
  /* border: 1px solid; */
}

/* container boardlist start */
.container_wrap .container_lt .boardlist {
  display: flex;
  margin-bottom: 20px;
}

.container_wrap .container_lt a {
  text-decoration: none;
  color: #000;
}
.container_wrap .container_lt a:hover .title {
  text-decoration: underline;
  text-underline-position: under;
}

.boardlist .content {
  width: 440px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.boardlist .content .title {
  height: 30%;
  font-size: 16px;
}
.boardlist .content .text {
  padding: 5px 0;
  height: 40%;
  font-size: 12px;
}
.boardlist .content .text p {
  margin-block-end: 0;
  margin-block-start: 0;
  color: rgba(0, 0, 0, 0.6);
}
.boardlist .content .cate {
  height: 30%;
  display: flex;
}
.boardlist .content .cate span {
  margin-right: 8px;
  font-size: 10px;
}
.boardlist .content .cate p {
  margin-left: 10px;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.6);
  margin: 0;
}

.boardlist .content_img {
  width: 200px;
  height: 70px;
  display: flex;
  justify-content: center;
}
.boardlist .content_img img {
  width: 100%;
  aspect-ratio: 2 / 1;
}
/* container boardlist end */

.container_wrap .container_rt {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.container_wrap .container_lt,
.container_wrap .container_rt {
  box-sizing: border-box;
}

.profile {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile .profile_img {
  width: 180px;
  height: 180px;
  background-image: url("https://cdn.pixabay.com/photo/2019/08/06/08/46/old-man-4387774_1280.png");
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: 35%, -50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid;
}

.category {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.category .category_wrap {
  width: 180px;
}
.category .category_wrap ul {
  padding: 0;
  width: 180px;
}
.category .category_wrap li {
  list-style: none;
  margin-bottom: 5px;
  cursor: pointer;
}
.category .category_wrap li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
}
.category .category_wrap li a:hover {
  color: rgba(0, 0, 0, 1);
}
/* container end */

/* view start */
.container_lt .view_container {
  width: 100%;
  margin-top: 20px;
}
.container_lt .view_container .view_content {
}
.container_lt .view_container .view_content textarea {
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  border: none;
  resize: none;
  background-color: #fff;
}
.view_content .like_wrap {
  width: 100%;
  height: 10px;
  display: flex;
  justify-content: flex-end;
}

.view_content .like_wrap img {
  width: 10px;
  height: 10px;
}
.view_content .like_wrap span {
  margin: 0 4px;
  font-size: 8px;
}
.view_content textarea:focus,
.view_content input:focus {
  outline: none;
}
.view_content .comment_area {
  padding-left: 2px;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 4px 0;
  align-items: center;
  justify-content: space-between;
}

.view_content .comment_title span {
  margin-right: 5px;
}
.view_content .comment_title .com {
  margin-bottom: 2px;
}
.view_content .comment_area .comment_func {
  display: flex;
}
.view_content .comment_area .comment_func p {
  margin: 0 20px 0 0;
  color: rgba(0, 0, 0, 0.6);
  font-size: 8px;
}
.view_content .comment_container {
  margin-top: 20px;
  display: flex;
  width: 100%;
  flex-direction: column;
}
.view_content .comment_container .comment_flex {
  display: flex;
  padding-right: 20px;
}
.view_content .comment_container .comment_flex label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 60px;
}
.view_content .comment_container .comment_flex input {
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  border: none;
  margin: 0px 20px;
}

.view_content .comment_container input:focus {
}

/* view end */

/* ins start */
.title_wrap input {
  border: none;
  font-size: 18px;
}
.container_lt input {
  height: 20px;
  border: none;
}
.container_lt input:focus {
  outline: none;
}
.container_lt button {
  font-size: 12px;
  color: #fff;
  width: 100%;
  height: 35px;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 10px;
  border: none;
  transition: all 0.25s;
  cursor: pointer;
  margin-top: 10px;
}
.container_lt button:hover {
  color: #000;
  background-color: #fff;
  border: 1px solid;
}
/* ins end */
