<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/index.css" />
  </head>
  <body>
    <!-- nav -->
    <div class="nav">
      <div class="logo">
        <a href="">logo</a>
      </div>
      <div class="change">
        <div class="change_lt"></div>
        <div class="change_rt"></div>
      </div>
      <ul>
        <li class="nav_buy">
          <span> Buy crypto</span>
          <div class="arw"></div>
        </li>
        <li class="nav_dis">
          <span> Discover</span>
          <div class="arw"></div>
        </li>
        <li class="nav_trade">
          <span> Trade</span>
          <div class="arw"></div>
        </li>
        <li class="nav_grow">
          <span> Grow</span>
          <div class="arw"></div>
        </li>
        <li class="nav_build">
          <span> Build</span>
          <div class="arw"></div>
        </li>
        <li class="nav_ins">
          <span> Institutional</span>
          <div class="arw"></div>
        </li>
        <li class="nav_learn">
          <span> Learn</span>
        </li>
        <li class="nav_more">
          <span> More</span>
          <div class="arw"></div>
        </li>
      </ul>
      <div class="sign_wrap">
        <div class="login">
          <a href=""> log in </a>
        </div>
        <div class="signup">
          <a href=""> Sign up </a>
        </div>
      </div>
    </div>
    <!-- body -->
    <div class="main"></div>
  </body>
</html>
