<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/index.css" />
  </head>
  <body>
    <div class="okx">
      <!-- nav -->
      <div class="nav">
        <div class="logo"></div>
        <div class="change">
          <div class="change_wrap">
            <a href="" class="change_lt">Exchange</a>
            <a href="" class="change_rt">Wallet</a>
          </div>
        </div>
        <ul>
          <li class="nav_buy">
            <span> Buy crypto</span>
            <div class="arw"></div>
          </li>
          <li class="nav_dis">
            <span> Discover</span>
            <div class="arw"></div>
          </li>
          <li class="nav_trade">
            <span> Trade</span>
            <div class="arw"></div>
          </li>
          <li class="nav_grow">
            <span> Grow</span>
            <div class="arw"></div>
          </li>
          <li class="nav_build">
            <span> Build</span>
            <div class="arw"></div>
          </li>
          <li class="nav_ins">
            <span> Institutional</span>
            <div class="arw"></div>
          </li>
          <li class="nav_learn">
            <span> Learn</span>
          </li>
          <li class="nav_more">
            <span> More</span>
            <div class="arw"></div>
          </li>
        </ul>
        <div class="sign_wrap">
          <div class="login">
            <a href="/login"> log in </a>
          </div>
          <div class="signup">
            <a href="/signup"> Sign up </a>
          </div>
        </div>
      </div>
      <!-- body -->
      <div class="main">
        <div class="main_wrap">
          <div class="main_lt">
            <div class="title">
              <span
                >Faster, better, stronger than your average crypto
                exchange</span
              >
            </div>
            <div class="email">
              <input type="text" placeholder="E-mail/Phone" />
              <div class="email_btn">Try OKX</div>
            </div>
            <div class="imgs">
              <img
                src="https://static.okx.com/cdn/assets/imgs/2210/960EBD3DB32081AC.png"
                height="80px"
                alt=""
              />
              <img
                src="https://static.okx.com/cdn/assets/imgs/2210/499A92F3657A52EC.png"
                height="50px"
                alt=""
              />
              <img
                src="https://static.okx.com/cdn/assets/imgs/2210/6279B178FADAFCC5.png"
                height="80px"
                alt=""
              />
            </div>
          </div>
          <div class="main_rt">
            <video
              src="https://static.okx.com/cdn/assets/files/2211/7A3CB59773E00032.mp4"
              width="280"
              height="580"
              autoplay
              loop
              muted
              playsinline
            ></video>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
